@import "../../styles/colors";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700); // Variables
$open-sans: "Open Sans", sans-serif; // clear-fix mixin
@mixin cf {
  &::after,
  &::before {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}
// Base styles

.custom-card {
  transition: box-shadow 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }

  .wrapper {
    background-position: right;
    @media (min-width: 576px) {
      min-height: 10rem;
    }
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 5.7rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease 0s;
    background-color: #FFF;
    &:hover {
      opacity: 0.7;

      .data {
        transform: translateY(-1em);
        transition: transform 0.3s;
      }
    }
  }

  .data {
    transform: translateY(0);
    transition: transform 0.3s;

    .content {
      padding: 1em;
      position: relative;
      z-index: 1;

      // Tags, Date
      .stats {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }

  .title {
    margin-top: 10px;
  }

  .date {
    color: $light-black;
    padding: 0.2em;
    font-size: small;

    span {
      display: block;
      text-align: center;
      
    }
  }

  .content {
    background-color: $white;

    .title {
      color: #292929;
      text-decoration: none;
      &:hover{
        color: $gray;
      }
    }

    p {
      color: $black;
    }
  }
}
.link{
  a {
    // color: $black;
    display: block;
    text-decoration: none;
    
    &:hover {
      color: $gray;
      text-decoration: none;
    }
   h4{
     &:hover{
       color: $gray;
     }
   } 
  }
}

.tag-wrap{
  display:flex;
  align-items: flex-end;
}
